Package: com.slaviknychkalo.iappsdefender
Name: iappsDefender
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-71+debug
Installed-Size: 64460
