Package: com.slaviknychkalo.allappshook
Name: AllAppsHook
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SlavikNychkalo
Author: SlavikNychkalo
Section: Tweaks
Version: 0.0.1-32+debug
Installed-Size: 124
